{% extends "master.html" %}
{% load staticfiles%}
{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-12'>
            <p style='font-size:20px'>
            <br>
            </p>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='alert alert-success'>
                        <h1 style='margin-top:0px'>Vijñāna</h1>
                        <p style='text-align:justify'>Vijñāna is a digital repository to store and share all the intelligent content produced at Adi Shankara Institute of Engineering and Technology. It has been developed so as to let the students access the Journal Papers, Project Theses, Question Banks, Model Question Papers and Subject notes, Presentations etc that are written by the staff and students of this college. Vijñāna is written in Ruby on Rails and is developed by students of M.Tech CSE [2014-2016] batch. The details can be found from the link on the sidebar. Various sections of vijñāna are listed below.</p>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='alert alert-info'>
                        <h2 style='margin-top:0px'>
                            <a href="/items?type=Subject+Note">Study Materials</a>
                            <img alt="Subjectnote" src={% static "images/subjectnote.png" %} width="5%" />
                            <img alt="Presentation" src={% static "images/presentation.png" %} width="5%" />
                        </h2>
                        <p style='text-align:justify'>This section includes various subject notes and presentations of different departments.</p>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='alert alert-warning'>
                        <h2 style='margin-top:0px'>
                            <a href="/items?type=Paper+Publication">Journal Papers</a>
                            <img alt="Paper" src={% static "images/paper.png" %} width="5%" />
                        </h2>
                        <p style='text-align:justify'>This section includes the original versions of various journal papers published by staff and students.</p>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='alert alert-danger'>
                        <h2 style='margin-top:0px'>
                            <a href="/items?type=Previous+Year+Question+Paper">Previous Question Papers</a>
                            <img alt="Question" src={% static "images/question.png" %} width="5%" />
                        </h2>
                        <p style='text-align:justify'>This section has a collection of previous year question papers of various subjects in image format.</p>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='alert alert-warning' style='background-color:rgba(194,183,135,0.56)'>
                        <h2 style='margin-top:0px;color:#847849'>
                            Seminar and Project Reports
                            <img alt="Project" src={% static "images/project.png" %} width="5%" />
                        </h2>
                        <p style='text-align:justify'>This section handles the reports of various seminars and projects undertaken by students.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
