{% extends "master.html" %}
{% block content %}
{% if not request.session.usertype == 'teacher' and not request.session.usertype == 'hod' %}
<div class="alert alert-danger">
    You don't have permission to access this page.
</div>
{% else %}
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}
<div class="row">
    <div style="margin:0 auto">
        <form action="/new_resource/" method="post" class="form-signin" enctype=multipart/form-data>
            {% csrf_token %}
            <h2 class="form-signin-heading">Add new resource</h2>
            <input type="file" id="resourcefile" name="resourcefile" class="form-control" required>
            <input id="title" type="text" name="title" value="{{ input_title }}" placeholder="Title" class="form-control" required>
            <select class='form-control' name='category' id='category' required>
                <option selected="selected" value="">Type</option>
                {% for type,name in type_list.items %}
                <option value={{name}}>{{type}}</option>
                {% endfor %}
            </select>
            <select class="form-control" name='subject' id='subject' required>
                <option value="" selected="selected">Subject</option>
                {% for subject in subject_list %}
                <option value={{subject.id}}>{{subject.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary form-control">Upload</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
