{% extends "master.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="alert alert-success"> {{message}} </div>
{% endif %}
{% endfor %}
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h3 class="panel-title">User Details</h3>
            </div>
            {% if request.user == user %}
            <div class="col-md-6" style="text-align:right">
                <a href="/user/{{user.username}}/edit/"><button class="btn btn-danger">Edit Profile</button></a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                {% if user.profile.picture %}
                <img src="/uploads/{{user.profile.picture.url}}" alt="{{user.username}}" width="100px"/>
                {% endif %}
            </div>
            <div class="col-md-5">
                <h2 style="margin-top:0">{{user.first_name}} {{user.last_name}}</h2>
                <h4>{{user.profile.department.name}}</h4>
                <h4>{{user.profile.status|title}}</h4>
            </div>
            <div class="col-md-5" style="border-left:1px solid">
                <table>
                    {% if user.profile.address %}
                    <tr>
                        <td style="vertical-align:top;padding-top:5px;padding-right:10px"><span class="glyphicon glyphicon-home" style="color:brown" aria-hidden="true"></span></td>
                        <td style="margin-top:0">{{user.profile.address|linebreaksbr}}</td>
                    </tr>
                    {% endif %}
                    {% if user.email %}
                    <tr>
                        <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></td>
                        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    </tr>
                    {% endif %}
                    {% if user.profile.bloodgroup %}
                    <tr>
                        <td><span class="glyphicon glyphicon-tint" style="color:red" aria-hidden="true"></span></td>
                        <td>{{user.profile.bloodgroup}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
        {% if user.resource_set.all %}
        {% if subject_list %}
            <div class="col-md-7">
        {% else %}
            <div class="col-md-12">
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Resources</h3>
            </div>
            <div class="panel-body" style="padding-top:0px;">

                <div style="height:50%;overflow:auto">
                    <table class='table' style="margin-top:0">
                        {% for resource in user.resource_set.all %}
                        <tr style="margin-top:0">
                            <td style="border:0px;border-bottom:1px solid">
                                <a href="/resource/{{resource.id}}" style="font-size:20pt">
                                    {{resource.title}}
                                </a>
                                <br />
                                <p style="font-size:small">
                                <a href="/resource/{{resource.subject.id}}">{{resource.subject.name}}</a>
                                <br />
                                <p style="font-size:small">
                                {{resource.subject.department.name}}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if subject_list %}
        {% if user.resource_set.all %}
            <div class="col-md-5">
        {% else %}
            <div class="col-md-12">
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Subjects</h3>
            </div>
            <div class="panel-body" style="padding-top:0px;">

                <div style="height:50%;overflow:auto">
                    <table class='table' style="margin-top:0">
                        {% for subject in subject_list %}
                        <tr style="margin-top:0">
                            <td style="border:0px;border-bottom:1px solid">
                                <a href="/subject/{{subject.id}}" style="font-size:20pt">
                                    {{subject.name}}
                                </a>
                                <br />
                                <p style="font-size:small">
                                <a href="/subject/{{resource.subject.id}}">{{subject.code}}</a>
                                <br />
                                <p style="font-size:small">
                                {{subject.department.name}}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
