{% extends "master.html" %}
{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-12'>
            <p style='font-size:20px'>
            <br>
            </p>
            <p id='notice'></p>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>Resource Details</h3>
                </div>
                <div class='jumbotron'>
                    <div class='h1' style='margin-top:0;padding-top:0'>
                        {{resource.title}}
                    </div>
                    <b>Course:</b>
                    {{resource.subject.course}}
                    <br>
                    <b>Department:</b>
                    {{resource.subject.department}}
                    <br>
                    <b>Semester:</b>
                    {{resource.subject.semester}}
                    <br>
                    <b>Subject:</b>
                    <a href="/subject/{{resource.subject.id}}">{{resource.subject.name}}</a>
                    <br>
                    <b>Type:</b>
                    <a href="/type/{{resource.category.title}}">{{resource.category.title}}</a>
                    <br>
                    <b>Uploader:</b>
                    <a href="/user/{{resource.uploader.username}}">{{resource.uploader.name}}</a>
                    <br>
                    <br>

                    <a class="btn btn-primary" href="/uploads/{{resource.resourcefile.url}}">Download File</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
