{% extends "master.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}
<div class="row">
    <div style="margin:0 auto">
        <form action="/sign_in/" method="post" class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign In</h2>
            <input id="username" type="text" name="username" value="{{ username }}" placeholder="Username" class="form-control" required>
            <input id="password" type="password" name="password" value="{{ password }}" placeholder="Password" class="form-control" required>
            <button type="submit" class="btn btn-primary form-control">Login</button>
        </form>
    </div>
</div>
{% endblock %}
