{% extends "master.html" %}
{% load staticfiles%}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="alert alert-success"> {{message}} </div>
{% endif %}
{% endfor %}
{% endif %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-md-6">
                <h3 style="margin-top:0;margin-bottom:0">{{subject.name}}</h3>
                <p>{{subject.description}}</p>
                {% if has_staff %}
                Staff:
                <ul style="list-style-type:none;">
                    {% for staff in subject_staff_list %}
                    <li><a href="/user/{{staff.username}}/">{{staff.first_name}} {{staff.last_name}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-md-6" style="text-align:right;margin-top:0;margin-bottom:0">
                {% if request.user.is_authenticated %}
                {% if request.user.profile.status == 'student' %}
                {% if not subscription_status %}
                <a href="/subject/{{subject.id}}/subscribe"><button class="btn btn-primary">Subscribe Me</button></a>
                {% else %}
                <a href="/subject/{{subject.id}}/unsubscribe"><button class="btn btn-danger">Unsubscribe</button></a>
                {% endif %}
                {% endif %}
                {% if is_hod %}
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Staff Related Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="text-align:center">
                        <li><a href="/subject/{{subject.id}}/assign_staff">Add Staff</a></li>
                        <li>
                            {% if not has_staff %}
                            Remove Staff
                            {% else %}
                            <a href="/subject/{{subject.id}}/remove_staff">Remove Staff</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div style="margin:1%"></div>
                {% endif %}
                {% if is_hod or is_staff %}
                <a href="/subject/{{subject.id}}/upload_questionbank"><button class="btn btn-primary">Upload Question Bank</button></a>
                <a href="/subject/{{subject.id}}/generate_questionpaper"><button class="btn btn-primary">Generate Question Paper</button></a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h2>Uploaded Questions</h2>
    </div>
    <table class='table table-bordered' style='width:100%;overflow-x:auto'>
        <tr>
            <th>Sl. Number</th>
            <th>Question Text</th>
            <th>Module</th>
            <th>Part</th>
            <th>Course Outcome</th>
            <th>Level</th>
        </tr>
        {% for question in subject.question_set.all%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{question.text}}</td>
            <td>{{question.module}}</td>
            <td>{{question.part}}</td>
            <td>{{question.co}}</td>
            <td>{{question.level}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
