{% extends "master.html" %}
{% load staticfiles%}
{% block content %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-md-6">
                <h3 style="margin-top:0;margin-bottom:0">{{subject.name}}</h3>
                {% if has_staff %}
                <ul style="list-style-type:none;">
                    {% for staff in subject_staff_list %}
                    <li><a href="/user/{{staff.username}}/">{{staff.name}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-md-6" style="text-align:right;margin-top:0;margin-bottom:0">
                {% if request.session.user %}
                {% if not is_hod %}
                {% if not is_staff %}
                {% if not subscription_status %}
                <a href="/subject/{{subject.id}}/subscribe_me"><button class="btn btn-primary">Subscribe Me</button></a>
                {% else %}
                <a href="/subject/{{subject.id}}/unsubscribe_me"><button class="btn btn-danger">Unsubscribe</button></a>
                {% endif %}
                {% endif %}
                {% else %}
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Staff Related Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="text-align:center">
                        <li><a href="/subject/{{subject.id}}/assign_staff">Add Staff</a></li>
                        <li>
                            {% if not has_staff %}
                            Remove Staff
                            {% else %}
                            <a href="/subject/{{subject.id}}/remove_staff">Remove Staff</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div style="margin:1%"></div>
                {% if is_hod or is_staff %}
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exam Related Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="text-align:center">
                        <li><a href="/subject/{{subject.id}}/upload_questionbank">Upload Question Bank</a></li>
                        <li><a href="/subject/{{subject.id}}/generate_questionpaper">Generate Question Paper</a></li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <table class='table table-bordered'>
        {% for resource in resource_list %}
        <tr>
            <td style="width:5%;border-right:0px;vertical-align:middle">
                <a href="/resource/{{resource.id}}">
                    <img alt="Presentation" src={% static "images/presentation.png" %} width="100%" />
                </a>
            </td>
            <td style="border-left:0px">
                <a href="/resource/{{resource.id}}" style="font-size:20pt">
                    {{resource.title}}
                </a>
                <br />
                <p style="font-size:small">
                <a href="/user/{{resource.uploader.username}}">{{resource.uploader.name}}</a>
                <br />
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
