{% extends "master.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}
{% if user not in subject.staff.all %}
<div class="alert alert-danger">
    You are not permitted to access this page
</div>
{% else %}
<div class="row">
    <div style="margin:0 auto">
        <form action="/subject/{{subject.id}}/upload_questionbank/" method="post" class="form-signin" enctype=multipart/form-data>
            {% csrf_token %}
            <h2 class="form-signin-heading">Upload Question Bank</h2>
            <input type="file" id="qbfile" name="qbfile" class="form-control" required>
            <button type="submit" class="btn btn-primary form-control">Upload</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
